<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="changescribe.core.commands.category"
            name="Git Actions Category">
      </category>
      <command
            categoryId="changescribe.core.commands.category"
            id="changescribe.core.commands.commitCommand"
            name="Commit">
      </command>
      <command
            categoryId="changescribe.core.commands.category"
            id="changescribe.core.commands.describeVersionsCommand"
            name="Describe versions">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="changescribe.core.handlers.CommitCommandHandler"
            commandId="changescribe.core.commands.commitCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="changescribe.core.handlers.CompareVersionsHandler"
            commandId="changescribe.core.commands.describeVersionsCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="changescribe.core.menus.commitMenu"
               label="ChangeScribe">
            <command
                  commandId="changescribe.core.commands.commitCommand"
                  id="changescribe.core.menus.commitCommand"
                  style="push">
                  <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <or>
                  <iterate>
                     <instanceof
                           value="org.eclipse.jdt.core.ICompilationUnit">
                     </instanceof>
                  </iterate>
                  <iterate>
                     <instanceof
                           value="org.eclipse.jdt.core.IPackageFragment">
                     </instanceof>
                  </iterate>
                  <iterate>
                     <instanceof
                           value="org.eclipse.jdt.core.IJavaProject">
                     </instanceof>
                  </iterate>
                  <iterate>
                     <instanceof
                           value="org.eclipse.jdt.core.IType">
                     </instanceof>
                  </iterate>
               </or>
               </with>
            </visibleWhen>
            </command>
            <command
                  commandId="changescribe.core.commands.describeVersionsCommand"
                  id="changescribe.core.menus.describeVersionsCommand"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <or>
                        <iterate>
                           <instanceof
                                 value="org.eclipse.jdt.core.ICompilationUnit">
                           </instanceof>
                        </iterate>
                        <iterate>
                           <instanceof
                                 value="org.eclipse.jdt.core.IPackageFragment">
                           </instanceof>
                        </iterate>
                        <iterate>
                           <instanceof
                                 value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                        </iterate>
                        <iterate>
                           <instanceof
                                 value="org.eclipse.jdt.core.IType">
                           </instanceof>
                        </iterate>
                     </or>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="changescribe.core.preferences.PreferencePage"
            id="changescribe.core.preferences.PreferencePage"
            name="ChangeScribe Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="changescribe.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
