<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="CommitSummarizer.core.commands.category"
            name="Git Actions Category">
      </category>
      <command
            categoryId="CommitSummarizer.core.commands.category"
            id="CommitSummarizer.core.commands.commitCommand"
            name="Commit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="commitsummarizer.core.handlers.CommitCommandHandler"
            commandId="CommitSummarizer.core.commands.commitCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="CommitSummarizer.core.menus.commitMenu"
               label="JComment">
            <command
                  commandId="CommitSummarizer.core.commands.commitCommand"
                  id="CommitSummarizer.core.menus.commitCommand">
            </command>
         </menu>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="commitsummarizer.core.preferences.PreferencePage"
            id="commitsummarizer.core.preferences.PreferencePage"
            name="JComment Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="commitsummarizer.core.preferences.PreferenceInitializer">
      </initializer>
   </extension> 
</plugin>
